<div id="accordion<%=locals[:station].capitalize%>">
  <div class="card">
    <div class="card-header" id="heading<%= locals[:station].capitalize %>">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%=locals[:station].capitalize%>Schedule" aria-expanded="false" aria-controls="collapse<%=locals[:station].capitalize%>Schedule">
          <div class="row title">
            <span class="title-text"><%= locals[:station].capitalize %> Station Commuter Rail Schedule</span>
          </div>
        </button>
      </h5>
    </div>
    <div class="collapse <%= locals[:station]%>" id="collapse<%=locals[:station].capitalize%>Schedule" aria-labelledby="heading<%=locals[:station].capitalize%>" data-parent="#accordion<%=locals[:station].capitalize%>">
      <div class="card-body">
        <% locals[:num_listing].times do |i| %>
          <div class="card">
            <div class="card-header" id="heading<%="#{locals[:station].capitalize}#{i}"%>">
              <h5 class"mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%="#{locals[:station].capitalize}#{i}"%>" aria-expanded="false" arial-controls="collapse<%="#{locals[:station].capitalize}#{i}"%>">
                  Destination:
                  <span class="headsign">...</span>
                  Departure Time:
                  <span class="departureTime">...</span>
                </button>
              </h5>
            </div>
            <div class="collapse card-body" id="collapse<%="#{locals[:station].capitalize}#{i}"%>" aria-labelledby="heading<%="#{locals[:station].capitalize}#{i}"%>">
              Track:
              <span class="track">...</span>
              Status:
              <span class="status">...</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
